[Oo]bj/
[Bb]in/
.nuget/
_ReSharper.*
packages/
artifacts/
*.user
*.suo
*.ide
*.userprefs
*DS_Store
*.sln.ide
\.vs/5gpro/v16/Server/sqlite3/
\.vs/5gpro/v15/Server/sqlite3/
*.ide-shm
*.ide-wal

\.vs/
\publish/
.vs/5gpro/v16/Server/sqlite3/storage.ide
5gpro/Daos/ConexaoDAO.cs
5gpro/Funcoes/DatabaseUpdate.cs
5gpro/Funcoes/DatabaseUpdate.cs
